<%- include('../partials/header', { isHomePage: false }) %>
<head>
  <title>
    GuitrHub</title>
<head>
<body>
<div class="centered-content">
<div class="card--bs-dark-border-subtle" style="width: 18rem" id="brand-model">
  <div><img src="/images/icon.png"></div>
  <div class="card-body">
    <p class="card-text">
      <%= guitar.brand %>
      <%= guitar.model %>
    </p>
  </div>
</div>
<% if (guitar.reviews.length > 0) { %>
  <div class="card mt-4" id="reviewscard">
    <div class="card-body">
      <h5 class="card-title">Reviews</h5>
      <table class="table table-striped">
        <tbody>
          <% guitar.reviews.forEach(function(r) { %>
            <tr>
              <td class="review-details">
                  <div class="review-box">
                    <p><strong>Review:</strong></p>
                    <p id="reviewtext"><%= r.content %></p>
                  </div>
                  <div class="rating-box">
                    <p><strong>Rating:</strong></p>
                    <p id="reviewtext"><%= r.rating %></p>
                  </div>
                  <div class="user-info">
                    <img alt="avatar" src="<%= r.userAvatar %>" class="avatar" referrerpolicy="no-referrer" id="googleavatar">
                    <p id="googlename">by <%= r.userName %></p>
                </div>
              </td>
              <td>
            </td>
            </tr>
              <td class="button-container" colspan="2">
                <% if (user?._id.equals(r.user)) { %>
                  <form action="/reviews/<%= r._id %>/edit" method="GET">
                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                  </form>
                  <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } else { %>
  <div class="alert alert-info mt-4;">
    <h5>No Reviews Yet</h5>
  </div>
<% } %>
<div class="container" id="add-review-container">
  <h2>Add a Review</h2> 
  <form id="add-review-form" method="POST" action="/guitars/<%= guitar._id %>/reviews">
    <div class="form-group">
      <label for="content">Review:</label>
      <textarea class="form-control" id="content" name="content" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <select class="form-control" id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
  </form>
</div>
</body>