<%- include('../partials/header') %>
<div class="card bg-secondary" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">
      <b>Brand:</b> <%= guitar.brand %><br>
      <b>Model:</b> <%= guitar.model %>
    </p>
  </div>
</div>
<% if (guitar.reviews.length > 0) { %>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Reviews</h5>
      <table class="table table-striped">
        <tbody>
          <% guitar.reviews.forEach(function(r) { %>
            <tr>
              <td class="review-details">
                <img alt="avatar" src="<%= r.userAvatar %>" class="avatar" referrerpolicy="no-referrer">
                <div>
                  <p><strong><%= r.userName %></strong></p>
                  <div class="review-box">
                    <p><strong>Review:</strong></p>
                    <p><%= r.content %></p>
                  </div>
                  <div class="rating-box">
                    <p><strong>Rating:</strong></p>
                    <p><%= r.rating %></p>
                  </div>
                </div>
              </td>
              <td>
              </td>
            </tr>
      
              <td colspan="2">
                <% if (user?._id.equals(r.user)) { %>
                  <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                  <form action="/reviews/<%= r._id %>/edit" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
<% } else { %>
  <div class="alert alert-info mt-4">
    <h5>No Reviews Yet</h5>
  </div>
<% } %>
<div class="container">
  <br><br>
  <h2>Add a Review</h2>
  <form id="add-review-form" method="POST" action="/guitars/<%= guitar._id %>/reviews">
    <div class="form-group">
      <label for="content">Review:</label>
      <textarea class="form-control" id="content" name="content" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <select class="form-control" id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
